@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply min-[250px]:text-4xl text-2xl mt-2 mb-4 font-bold break-all;
    }
}

@layer components {

    /* smart watch */
    @media (aspect-ratio: 1/1) {
      div.flex-flexi {
        @apply flex-col;
      }
    }
    
    div#game {
      @apply select-none;
    }
    
    
    colored-piece {
      @apply block;
      width: 8vmin;
      height: 8vmin;
      max-width:50px;
      max-height:50px;
    }

    colored-piece.selected {
      @apply rounded border-2 border-red-600 p-px;
    }
    
    colored-piece.color-selector-item {
      @apply rounded hover:border-2 hover:border-red-600 hover:p-px;
    }

    div:not('row-input') colored-piece {
      @apply transition-all duration-300 opacity-25;
    }

    colored-piece.hint-piece {
      width: 4vmin;
      height: 4vmin;
      max-width:25px;
      max-height:25px;
    }
    
    .row-spacer {
      height: 18vh;
    }

    .btn {
        @apply min-[250px]:px-4 min-[250px]:py-2 px-2 py-1 bg-blue-600 text-white rounded hover:bg-blue-800 disabled:bg-blue-200;
    }
    .sw-true .btn {
      @apply bg-gray-600 hover:bg-gray-800 disabled:bg-gray-200;
    }
    
    select {
      @apply p-1 border rounded;
    }
}
